<%= render 'layouts/header_datavisual_003' %>


<div class="container search-results">


  <div class="nav">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= render 'layouts/sns' %>
    </div>

    <div class="row">
      <h2><span class="glyphicon glyphicon-stop"></span>東京23区<span class="number">&nbsp;区立認可保育園&nbsp;月額保育料&nbsp;一覧&nbsp;(2015年)&nbsp;</span></h2>

      <h3>平成27年4月施行の「子ども・子育て支援新制度」に伴い、改正された標準時間11時間を基本に年収と保育料の組み合わせを掲載しています。</h3>
      <p>※&nbsp;自治体×年収別に最新の保育料を比較できるのは「社会保障ドットコム」だけです。</br>
        ※&nbsp;認可保育園でも、一部の保育園や私立園では料金が異なる場合があります。</br>
        ※&nbsp;第二子割引は、兄弟が在園児、小学○年まで等、自治体により異なっています。特筆事項をご確認ください。</br>
        ※&nbsp;ここでは、年収 330万円、470万円、640万円、930万円、1130万円、上限の６段階で表示しています。</br>
        ※&nbsp;区の階層数は、自治体毎に異なります。数値が多い程、年収別に細かく金額が設定されています。</br>
        ※「推定年収」は文部科学省が定める夫婦（妻はパートタイム労働を想定（所得税が非課税となる程度の収入））と子供２人世帯の場合のおおまかな目安です。</p>


    <!-- おすすめ記事とデータ -->
    <div class="article-list-mini col-lg-7 col-md-7 col-sm-12 col-xs-12">   
          
            <h2 class="title-s"><a href="/article/"><span class="glyphicon glyphicon-pencil"></span>おすすめ記事</a></h2>
          <% @articles.each do |article| %>
            <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="/article/<%= article['url'] %>">
                  <div class="row"> 
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <%= image_tag(article['image'], :class => "img-responsive") %>
                    </div> 

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          <h3><span class="vol"><%= article['vol'] %></span><%= article['title'] %><span class="search"></h3>
                        
                          <time><%= article['time'] %></time>
                    </div> 
                  </div> 
            </a>
            </li>
          <% end %>
        
    </div>
    <!-- おすすめデータ -->
    <div class="article-list-mini col-lg-5 col-md-5 col-sm-12 col-xs-12">  
          
            <h2 class="title-s"><a href="/article/"><span class="glyphicon glyphicon-pencil"></span>おすすめデータ</span></a></h2>
          <% @datavisual.each do |datavisual| %>
            <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="/datavisual/<%= datavisual['url'] %>">
                  <div class="row"> 
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <%= image_tag(datavisual['image'], :class => "img-responsive") %>
                    </div> 

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          <h3><%= datavisual['title'] %><span class="search"></span></h3>
                        
                          <time><%= datavisual['time'] %></time>
                    </div> 
                  </div> 
            </a>
            </li>
          <% end %>
       
    </div>


    </div>

  </div>


  
    <div class="row">
    

        <div class="col-lg-12">

          <div class="row">

            <table class="table table-striped2 table-hover table-condensed tablesorter" id="dataTable">
              <thead class="table-nav">
              <tr class="table-header-border_hline" colspan="1" rowspan="3" >
                <th id="column2" class="text-center table-header-type table-hoiku-area" colspan="1" rowspan="3"><%= @column_names[2] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                <th id="column3" class="table-header-type table-hoiku-1em table-header-type-s_vline small" colspan="1" rowspan="3"><%= @column_names[3] %></br></br><span class="glyphicon glyphicon-sort"></th>
                <th class="text-center table-header-city" colspan="18">推定年収</th>
                <th class="text-center table-header-type table-hoiku-1em small" rowspan="3"><%= @column_names[28] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                <th class="text-center table-header-city table-header-type" colspan="2" rowspan="1">割引</th>
                <th class="text-center table-header-type table-hoiku-2em" rowspan="3"><%= @column_names[32] %></br></br><span class="glyphicon glyphicon-sort"></span></th>

                <!-- 年収条件 -->
                <tr class="table-header-border_hline">    
                    <th class="table-header-type" colspan="3">〜330万円</th>
                    <th class="table-header-type" colspan="3">〜470万円</th>
                    <th class="table-header-type" colspan="3">〜640万円</th>
                    <th class="table-header-type" colspan="3">〜930万円</th>
                    <th class="table-header-type" colspan="3">〜1,130万円</th>
                    <th class="table-header-type" colspan="3">〜上限</th>
                    <th class="table-header-type-s table-hoiku-1em" colspan="1" rowspan="3"><%= @column_names[30] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                    <th class="table-header-type-s table-hoiku-1em" colspan="1" rowspan="3"><%= @column_names[31] %></br></br><span class="glyphicon glyphicon-sort"></span></th>

                </tr>

                <tr class="table-header-border_hline">    
                  <!-- 〜330万円 -->
                  <th id="column5" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[5] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column6" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[6] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column7" class="table-header-type-m table-hoiku-ryokin table-header-type-s_vline"><%= @column_names[7] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                 <!-- 〜470万円 -->
                  <th id="column9" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[9] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column10" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[10] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column11" class="table-header-type-m table-hoiku-ryokin table-header-type-s_vline"><%= @column_names[11] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <!-- 〜640万円 -->
                  <th id="column13" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[13] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column14" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[14] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column15" class="table-header-type-m table-hoiku-ryokin table-header-type-s_vline"><%= @column_names[15] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <!-- 〜930万円 -->
                  <th id="column17" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[17] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column18" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[18] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column19" class="table-header-type-m table-hoiku-ryokin table-header-type-s_vline"><%= @column_names[19] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <!-- 〜1,130万円 -->
                  <th id="column21" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[21] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column22" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[22] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column23" class="table-header-type-m table-hoiku-ryokin table-header-type-s_vline"><%= @column_names[23] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <!-- 〜上限 -->
                  <th id="column25" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[25] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column26" class="table-header-type-m table-hoiku-ryokin"><%= @column_names[26] %></br></br><span class="glyphicon glyphicon-sort"></span></th>
                  <th id="column27" class="table-header-type-m table-hoiku-ryokin table-header-type-s_vline"><%= @column_names[27] %></br></br><span class="glyphicon glyphicon-sort"></span></th>


                </tr>
              </tr>
              </thead>

              <tbody>
                <% i = 0 %>
                <% @data.each do |x| %>
                <tr>
                  <!-- 地域コード -->
                  <td id="" class="table-hoiku-area text-center text-nowrap"><small><%= x[1] %></br><strong><%= x[2] %></br></strong></small></td>
                  <!-- 年齢 -->
                  <td id="" class="table-type-ss text-center table-header-type-s_vline"><%= x[3] %></td>
                  <!-- 推定年収 -->
                  <!-- 〜330万円 -->
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[5] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[6] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right table-type-s_vline"><%= x[7] %></td>
                  <!-- 〜470万円 -->
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[9] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[10] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right table-type-s_vline"><%= x[11] %></td>
                  <!-- 〜640万円 -->
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[13] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[14] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right table-type-s_vline"><%= x[15] %></td>
                  <!-- 〜930万円 -->
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[17] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[18] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right table-type-s_vline"><%= x[19] %></td>
                  <!-- 〜1,130万円 -->
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[21] %></td>
                  <td id="" class="table-type-s table-hoiku-Aryokin text-right"><%= x[22] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right table-type-s_vline"><%= x[23] %></td>
                  <!-- 〜上限 -->
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[25] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right"><%= x[26] %></td>
                  <td id="" class="table-type-s table-hoiku-ryokin text-right table-header-type-s_vline"><%= x[27] %></td>
                  <!-- 区の階層数 -->
                  <td id="" class="table-type-s table-header-type-s_vline"><%= x[28] %></td>
                  <!-- 割引 -->
                  <td id="" class="text-center table-type-s "><%= x[30] %></td>
                  <td id="" class="text-center table-type-s table-header-type-s_vline"><%= x[31] %></td>
                  <!-- 特筆すべき事 -->
                  <td id="" class="table-type table-hoiku-2em">
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-xs text-center" data-toggle="modal" data-target="#myModal<%= i %>">
                      詳細</button>
                      <!-- Modal -->
                      <div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%= i %>" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                              <h4 class="modal-title" id="myModalLabel<%= i %>">特筆事項</h4>
                            </div>
                            <div class="modal-body">
                              <%= simple_format(x[32]) %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </td>
                </tr>
                <% i+=1 %>
                <% end %>
              </tbody>
            </table>
          </div>


          <div>
            <p class="small">出典 東京23区自治体の公式ページにて調査しています</a>（2015/6/18アクセス） | 
            <a href="http://www.city.chiyoda.lg.jp/">千代田区</a> | 
            <a href="http://www.city.chuo.lg.jp/">中央区</a> | 
            <a href="http://www.city.minato.tokyo.jp/">港区</a> | 
            <a href="http://www.city.shinjuku.lg.jp/">新宿区</a> | 
            <a href="http://www.city.bunkyo.lg.jp/index.html">文京区</a> | 
            <a href="http://www.city.taito.lg.jp/">台東区</a> | 
            <a href="http://www.city.sumida.lg.jp/">墨田区</a> | 
            <a href="http://www.city.koto.lg.jp/">江東区</a> | 
            <a href="http://www.city.shinagawa.tokyo.jp/">品川区</a> | 
            <a href="http://www.city.meguro.tokyo.jp/">目黒区</a> | 
            <a href="http://www.city.ota.tokyo.jp/">大田区</a> | 
            <a href="http://www.city.setagaya.lg.jp/index.html">世田谷区</a> | 
            <a href="http://www.city.shibuya.tokyo.jp/">渋谷区</a> | 
            <a href="http://www.city.tokyo-nakano.lg.jp/">中野区</a> | 
            <a href="http://www.city.suginami.tokyo.jp/">杉並区</a> | 
            <a href="http://www.city.toshima.lg.jp/">豊島区</a> | 
            <a href="http://www.city.kita.tokyo.jp/">北区</a> | 
            <a href="http://www.city.arakawa.tokyo.jp/">荒川区</a> | 
            <a href="http://www.city.itabashi.tokyo.jp/">板橋区</a> | 
            <a href="http://www.city.nerima.tokyo.jp/">練馬区</a> | 
            <a href="http://www.city.adachi.tokyo.jp/">足立区</a> | 
            <a href="http://www.city.katsushika.lg.jp/">葛飾区</a> | 
            <a href="http://www.city.edogawa.tokyo.jp/">江戸川区</a> | 
            </p>
          </div>




        </div>

   
    </div>


</div>





<div id="map"></div>
<script src="mapping.js"></script>
<%= javascript_include_tag "jquery.tablesorter" %>
<script type="text/javascript">
$(document).ready(function()
  {
    $("#dataTable").tablesorter();
  }
);
</script>
