<% content_for :meta_contents do %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,待機児童,子ども園,保育園,幼稚園,入園,事故報告,補助金,認可保育園">
  <meta name="description" content="社会保障ドットコムでは、社会保障に関する各種ビジュアルデータを公開しています。">
  <meta property="og:title" content="社会保障ドットコム|ビジュアルデータ一覧">
  <meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_1l.png">
  <meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_2s.png">
  <meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_3m.png">
  <meta property="og:url" content="http://www.syakaihosyou.com/datavisual">
  <meta property="og:description" content="社会保障ドットコムでは、ビジュアルで見る「社会保障」というテーマで社会保障に関する各種ビジュアルデータを公開しています。">
<% end %>

<% content_for :title do %>
  <title>社会保障ドットコム|ビジュアルで見る「社会保障」</title>
<% end %>

<%= render 'layouts/header_nav' %>


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/datavisual/">ビジュアルで見る「社会保障」</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>

<div class="search-results">

  <div class="container">
    <div class="row">
      <div class="">
        <div style="text-align: center">
          <h1>平成27年度<span class="number">&nbsp;区立認可保育園月額保育料&nbsp;一覧比較&nbsp;東京23区版&nbsp;</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>平成27年4月施行の「子ども・子育て支援新制度」に伴い、改正された、標準時間11時間を基本に保育料を掲載しています。</h2>
      <p>※&nbsp;自治体×年収別に保育料を比較できるのは「社会保障ドットコム」だけです。</br>
        ※&nbsp;認可保育園でも、一部の保育園では料金が異なる場合があります。</br>
        ※&nbsp;「推定年収」は夫婦（妻はパートタイム労働を想定（所得税が非課税となる程度の収入））と子供２人世帯の場合のおおまかな目安</p>

    </div>
  </div>


  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="col-lg-12 sns">
          <%= render 'layouts/sns' %>
        </div>

        <div class="col-lg-12">

          <div class="row">


        <table class="table-nav table table-striped2">

          <tr class="table-header-border_hline" rowspan="3" >
            <th class="table-header-label table-scene" rowspan="3">地域コード</th>
            <th class="table-header-label table-basicname" rowspan="3">自治体名</th>
            <th class="table-header-label table-basicname" rowspan="3">年齢</th>
            <th class="text-center table-header-city" colspan="18">推定年収</th>
            <th class="text-center table-header-city" rowspan="3">階層数</th>
            <th class="text-center table-header-city" rowspan="3">割引条件</th>
            <th class="text-center table-header-city" rowspan="3">特筆すべき事</th>

            <!-- エリア -->
            <tr class="table-header-border_hline">
              
                              
                <!-- 年収条件 -->
                <th class="table-header-type" colspan="3">〜330万円</th>
                <th class="table-header-type" colspan="3">〜470万円</th>
                <th class="table-header-type" colspan="3">〜640万円</th>
                <th class="table-header-type table-header-type-s_vline2" colspan="3">〜930万円</th>
                <th class="table-header-type table-header-type-s_vline2" colspan="3">〜1,130万円</th>
                <th class="table-header-type table-header-type-s_vline2" colspan="3">〜上限</th>
            </tr>

            <tr class="table-header-border_hline">
                    

              <!-- 〜330万円 -->
              <th class="table-header-type-s">標準時間保育料（11時間）第一子</th>
              <th class="table-header-type-s">標準時間保育料（11時間）第二子</th>
              <th class="table-header-type-s table-header-type-s_vline">延長保育料(1時間)</th>
             <!-- 〜470万円 -->
              <th class="table-header-type-s">標準時間保育料（11時間）第一子</th>
              <th class="table-header-type-s">標準時間保育料（11時間）第二子</th>
              <th class="table-header-type-s table-header-type-s_vline">延長保育料(1時間)</th>
              <!-- 〜640万円 -->
              <th class="table-header-type-s">標準時間保育料（11時間）第一子</th>
              <th class="table-header-type-s" >標準時間保育料（11時間）第二子</th>
              <th class="table-header-type-s table-header-type-s_vline">延長保育料(1時間)</th>
              <!-- 〜930万円 -->
              <th class="table-header-type-s">標準時間保育料（11時間）第一子</th>
              <th class="table-header-type-s">標準時間保育料（11時間）第二子</th>
              <th class="table-header-type-s table-header-type-s_vline">延長保育料(1時間)</th>
              <!-- 〜1,130万円 -->
              <th class="table-header-type-s">標準時間保育料（11時間）第一子</th>
              <th class="table-header-type-s">標準時間保育料（11時間）第二子</th>
              <th class="table-header-type-s table-header-type-s_vline">延長保育料(1時間)</th>
              <!-- 〜上限 -->
              <th class="table-header-type-s">標準時間保育料（11時間）第一子</th>
              <th class="table-header-type-s">標準時間保育料（11時間）第二子</th>
              <th class="table-header-type-s table-header-type-s_vline">延長保育料(1時間)</th>
            
            </tr>
          </tr>

        </table>





            <table class="table table-striped2 table-hover table-condensed tablesorter" id="dataTable">
              <thead>
                <tr class="table-header-border_hline" rowspan="2">
                  <th id="column2"><%= @column_names[1] %></th>
                  <th id="column2"><%= @column_names[2] %></th>
                  <th id="column3"><%= @column_names[3] %></th>
                  
                  <th id="column5"><%= @column_names[5] %></th>
                  <th id="column6"><%= @column_names[6] %></th>
                  <th id="column7"><%= @column_names[7] %></th>
                  
                  <th id="column9"><%= @column_names[9] %></th>
                  <th id="column10"><%= @column_names[10] %></th>
                  <th id="column11"><%= @column_names[11] %></th>
                  
                  <th id="column13"><%= @column_names[13] %></th>
                  <th id="column14"><%= @column_names[14] %></th>
                  <th id="column15"><%= @column_names[15] %></th>
                  
                  <th id="column17"><%= @column_names[17] %></th>
                  <th id="column18"><%= @column_names[18] %></th>
                  <th id="column19"><%= @column_names[19] %></th>
                  
                  <th id="column21"><%= @column_names[21] %></th>
                  <th id="column22"><%= @column_names[22] %></th>
                  <th id="column23"><%= @column_names[23] %></th>
                  
                  <th id="column25"><%= @column_names[25] %></th>
                  <th id="column26"><%= @column_names[26] %></th>
                  <th id="column27"><%= @column_names[27] %></th>
                  <th id="column28"><%= @column_names[28] %></th>
                  
                  <th id="column30"><%= @column_names[30] %></th>
                  <th id="column31"><%= @column_names[31] %></th>
                  <th id="column32"><%= @column_names[32] %></th>
                </tr>
              </thead>
              <tbody>
                <% @data.each do |x| %>
                <tr>
                  <td id="" class=""><%= x[1] %></td>
                  <td id="" class=""><%= x[2] %></td>
                  <td id="" class=""><%= x[3] %></td>
                 
                  <td id="" class=""><%= x[5] %></td>
                  <td id="" class=""><%= x[6] %></td>
                  <td id="" class=""><%= x[7] %></td>
                 
                  <td id="" class=""><%= x[9] %></td>
                  <td id="" class=""><%= x[10] %></td>
                  <td id="" class=""><%= x[11] %></td>
                  
                  <td id="" class=""><%= x[13] %></td>
                  <td id="" class=""><%= x[14] %></td>
                  <td id="" class=""><%= x[15] %></td>
                  
                  <td id="" class=""><%= x[17] %></td>
                  <td id="" class=""><%= x[18] %></td>
                  <td id="" class=""><%= x[19] %></td>
                  
                  <td id="" class=""><%= x[21] %></td>
                  <td id="" class=""><%= x[22] %></td>
                  <td id="" class=""><%= x[23] %></td>
                 
                  <td id="" class=""><%= x[25] %></td>
                  <td id="" class=""><%= x[26] %></td>
                  <td id="" class=""><%= x[27] %></td>
                  <td id="" class=""><%= x[28] %></td>
                  
                  <td id="" class=""><%= x[30] %></td>
                  <td id="" class=""><%= x[31] %></td>
                  <td id="" class=""><%= x[32] %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>

      </div> 
   
    </div>

  </div>
</div>



<div id="map"></div>
<script src="mapping.js"></script>
<%= javascript_include_tag "jquery.tablesorter" %>
<script type="text/javascript">
$(document).ready(function()
  {
    $("#dataTable").tablesorter();
  }
);
</script>
