<%= render 'layouts/header'%>
<div class=" container">
	<div class="col-md-8">
	<%= render 'layouts/city_search_form' %>
	<%= render 'layouts/scene_search_form' %>
	<%= render 'layouts/detailed_form' %>
	</div>

	<div class="col-md-4">
	<%= render 'layouts/sidenav' %>
	</div>
</div>
