<%= render 'layouts/header_nav' %>
<%= render 'layouts/header_mini' %>
<div class=" container">
	<div class="col-md-8">

		<div class="page-search">


			<h2><span class="glyphicon-s icon-scene"></span><span class="city">
				<a href="search_by_scene?selected_scene=<%= @search_criteria["2"]%>"><%= @search_criteria["2"]%></a></span>の<span class="city"><%= @search_criteria["5"]%></span>に<span class="search">対応している自治体</span></h2>
				<p><%= @search_criteria["5"]%>に対応している自治体は下記になります。</p>

				
				


		<table class="table table-striped table-borderless">
			<% @available_cities.each_slice(4) do |slice| %>
				<tr>
					<% slice.each do |city| %>
						<td>
							
							<%= link_to city, action: 'search_by_scene_step3',  search_criteria: @search_criteria.update({"0" => city}) %>
						</td>
					<% end %>
				</tr>
			<% end %>
			</table>

		</div>


	</div>

	<div class="col-md-4">
	<%= render 'layouts/side_nav' %>
	</div>

</div>



