<!-- <div class="row">
	<div class="col-lg-8">
		<table class="table table-striped table-borderless">
			<% if @results.length > 0 %>
				<tr>
					<% @column_names.each do |attr| %>
						<th><%= attr %></th>
						<% end %>
				</tr>
				<% @results.each do |row| %>
					<tr>
						<% row.attributes.values.each do |value| %>
							<td><%= value %></td>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div> -->

<div class="row">
	<div class="col-lg-8">
		<table class="table table-striped table-borderless">
			<% (0..@n_rows).each do |row| %>
				<tr>
					<td><%= @shared_info[row][:"シーン（１）"]%><br /><%= @shared_info[row][:"シーン（２）"]%></td>
					<td><%= @shared_info[row][:"一般名称/自治体の呼称"]%></td>
					<td>東京都/居住区の自治体</td>
					<td><%= @shared_info[row][:"保障額・内容"][0,10]%>...</td>
					<% @areas[row].each do |area| %>
						<td><% area[:"開始年齢"]%></td>
						<td><% area[:"終了年齢"]%></td>
						<td><% area[:"女"]%></td>
						<td><% area[:"男"]%></td>
					<% end %>
				</tr>
			<% end%>
		</table>
	</div>
</div>