<%= render 'layouts/header_article_001' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">



			<div class="article">




				<div id="Vol1-5">
					<h3>さらなる負担？高収入家庭への打撃</h3>
					<p>
					保育料の変更にあたり大きな影響を受けそうなのが、幼稚園に通う3〜5歳の子どものいる家庭。中でも特に高収入の家庭では負担が大幅に増えることが予想されます。
					</p>
					<p>
					現行制度の幼稚園では、保護者は所得に関係なく園が定めた一律の保育料を支払い、その後に就園奨励金などでキャッシュバックされていましたが、新制度導入後は、国が示した基準額をもとに、子供の年齢や保護者の就労時間・所得によって料金が決定されます。
					</p>
					<p>
					多くの自治体が利用者負担の軽減措置を取っており、新制度へ移行後も実際の負担額は国の基準額より少なくなると見られていますが、これまで公立幼稚園の場合、月額が数千円〜2万円程度であったところ、<mark><abbr title="（会社勤めで給与から住民税が天引きされている場合、6月に配布される「市町村民税特別徴収税額通知書」に額が記載されています）">「住民税の所得割額」</abbr></mark>が77,100円を超えると保育料の月額上限は一気に2万円に達するなど、急激な負担増の可能性があります。
					</p>
					<p>
					一方、保育所の料金設定は、標準時間（最長11時間）保育は現行と同額にし、新たに短時間（最長８時間）保育の枠組みを設置し、こちらは標準時間よりも若干安めの値段設定がされています。
					認定こども園の場合、幼児教育だけを受ければ幼稚園と同額となり、保育も受ければ保育所と同額となっています。
					</p>
				</div>

				<div id="Vol1-6">
					<h3>認可保育所間での補償格差</h3>
					<p>
					新制度では、「地域型保育」が順次、認可保育所となります。
					</p>
					<%= image_tag("article_vol1_5.png",:class => "img-responsive",:alt => "地域型保育とは・家庭的保育（「保育ママ」による定員5人の保育）・規模保育（定員6〜19人、家庭的保育に近い）・事業所内保育（会社の事業所内の保育施設で、従業員の子供と地域の子供に保育を提供）・居宅訪問型保育（障害・疾患などで個別の対応が必要な場合や施設のない地域で保育を行う場合、自宅に訪問して行われる）　これらの、無認可とされていた0〜2歳児を預かる少人数の保育施設のこと") %>
					<p>
					こうした地域型保育に補助金を出して運営の後押しをすることで、大規模施設を新設する場所のない都市部や、子どもが減少する地方での待機児童の受け皿を増やすことを狙いとしています。しかしここにも見逃せないポイントが。
					</p>
					<p>
					通常、認可保育所では、学校や幼稚園と同様、「災害共済給付制度」という公的保険に子どもを加入させることになっていますが、今回の新制度開始にあたり関連法（日本スポーツ振興センター法）の改正が間に合わず、子どもの負傷・死亡事故が起きても十分な補償が受けられない状態となっています。現在、これに代わる救済策はありません。
					</p>
					<p>
					どうして改正が遅れているのか。</br>
					災害共済給付制度を管轄する文部科学省と、保育所を管轄する厚生労働省はこのように説明しています「事故が多ければ掛け金が上がる。事故率を見なければならない」
					</p>
					<%= image_tag("article_vol1_6.png",:class => "img-responsive",:alt => "厚労省の公開した資料によると、2014年の保育施設での事故件数は、・認可保育所（施設数24,425か所 利用児童数2,266,813人）・認可外保育施設（施設数7,834か所 利用児童数200,721人）負傷…10名　死亡…12名、となり、負傷件数は認可保育所で10万人当たり6.6人、認可外が同5人。
					一方、死亡件数は認可保育所が同0.2人、認可外は同6人。この調査結果より同省は「負傷事故は大差ないが、死亡事故リスクは認可外が30倍ある」とし、４月以降の状況も見極めて判断するとしています。")  %>
					<cite class="small"><a href="http://www.mhlw.go.jp/stf/houdou/0000072858.html" >出典 厚生労働省 | 保育施設における事故報告集計</a>（2015/2/10アクセス）</cite>
					<p>
					厚生労働省の発表した資料によると、負傷事故についての割合は認可・認可外で差はありませんが、死亡については差が大きいことから、同省は４月以降の状況も見極めて判断をするとしています。</br>
					ただこちらの資料には、保育時間や年齢別の在籍人数についてのデータは記載されていません。そのため認可保育所が満たせないニーズを認可外の保育園がカバーしており、認可外のほうが受け入れ年齢が早い点、土曜や休日の保育により対応時間が長い点などが考慮されていないので、正確な数値とは言えないでしょう。
					</p>
				</div>

				<div id="Vol1-7">
					<h3>おわりに</h3>
					<p>
					ただでさえ情報の少ない保育活動中の大きな制度の変化、そこにさらに制度上の問題も加わり、開始早々混沌とする新制度。<br>
					国や自治体には、本来の目的である「子ども・子育て支援」が名実共に支援の後押しとなるよう頑張っていただきたいところですが、利用者側でも混乱を回避し、今ある制度をあまねく活用するために、賢く情報を収集していきましょう。
					</p>
				</div>


				<div id="Vol1-8">
					<div class="col-lg-12 container-author">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
								<%= image_tag("nao-sakaguchi.png",:class => "img-responsive")  %>
							</div>
							<div class="col-lg-10 col-md-8 col-sm-9 col-xs-9">
								<p class="">
								<small>ライター：</small><strong>坂口直</strong>
								</p>
								<p class="">
								Webを中心とした取材記事を執筆。日本の伝統・文化にフォーカスした紀行文の連載や、東京・恵比寿を拠点とした地域の最新情報の発信など、「人と地域」をテーマとした様々な活動を行う。一方、ニュースメディアでの編集経験を活かし、経済・政治を客観的に読み解く記事の執筆にもあたる。
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li><a href="/article/001_kodomokosodate_2" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li class="disabled">
					      <a href="/article/001_kodomokosodate_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 

