<%= render 'layouts/header_article'%>


<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol1-3">
					<h3>認定証＝入園許可証？</h3>
					<p>
					新制度で運営される園に入るには、国が発行する「認定証」が必要になります。
					認定をうけると、保育を受ける子供の年齢や保護者の就労状況によって、必要と考えられる保育時間のレベルが区分けされます。この区分けによって、保育必要レベルの高い人から順に入ることのできる保育施設が厳格に振り分けられ、待機児童を減らしていくという仕組みです。
					</p>
					<%= image_tag("nyuusyo-step1.png",:class => "img-responsive")  %>
					<%= image_tag("nyuusyo-step2.png",:class => "img-responsive")  %>
					<p>
					ただこの認定証、気をつけてほしいのは「入園許可証ではない」ということ。
					幼稚園の場合、園に直接利用申込をし、内定してから一括で認定証を申請しますが、保育所を利用する場合は要注意です。その場合、まず市町村から認定証を入手し、それから入所を希望する保育所に申込をする、という手順が必要になります。
					</p>
					<p>
					認定証は、認可保育園、認定こども園はもちろん、今は「認可外」にあたる保育園や幼稚園でも、今後新制度の下で運営される予定がある場合は必要になります。なお、今後も認可外として運営していく施設は、これまで通り園との直接契約となります。よって認定証の必要はなく、先着順や面接、抽選など園が決めた方法で選考されます。
					</p>
				</div>

				<div id="Vol1-4">
					<h3>利用者の負担増の可能性も……</h3>
					<p>
					それぞれ保育時間の違う幼稚園、保育所が併存するこども園の増加によって考えられるデメリットに、「追加徴収」の存在があげられます。
					</p>
					<p>
					今回の制度改正では、「市町村が定める利用者負担額のほか、実費徴収（通園送迎費、給食費、文房具費、行事費等）、それ以外の上乗せ徴収（教育・保育の質の向上を図るための対価）が可能」となっており、事情説明・同意要となってはいるものの、補助金不足の園ではこうした追加徴収が今後増えてくる可能性は否めません。
					</p>
					<p>
					たとえば、延長保育の料金。
					通常、幼稚園では9時から14時までなどの短時間保育を行っていますが、保育所の機能を併せ持つ認定こども園では、7時から16時までなどの長時間保育に加え、延長保育が行われるのがスタンダードとなります。
					</p>
					<p>
					必然的に、幼稚園からこども園に移行した園では、これまで短時間でやりくりしていたシフトの見直しや職員の増員が迫られます。こうした変化に対応するため、延長保育にかかる費用がこれまでよりも上乗せされることになるのは想像に難くありません。
					</p>
					<p>
					また、給食費などの実費負担や、各園で実施する質の高い教育・保育についての上乗せ利用料などが発表された園もあり、サービスの格差に悩む保護者の声が各所で上がっています。国は幼児教育の段階的な無償化を目指していますが、財源の不足などで道のりはなかなか険しいようです。
					</p>
					<%= image_tag("nyuusyo-step5.png",:class => "img-responsive")  %>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li><a href="/article/001_kodomokosodate_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="/article/001_kodomokosodate_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div class="col-lg-12 sns">
							<span class="sns-facebook">
								<!-- facebook -->
								<div class="fb-like" data-href="http://www.syakaihosyou.com/article/001_kodomokosodate_1" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
							</span>
							<span class="sns-twitter">
								<!-- twitter -->
								<a data-url="http://www.syakaihosyou.com/article/001_kodomokosodate_1" data-hashtags"社会保障ドットコム" data-text="社会保障ドットコム|子ども・子育て支援「新」制度の問題" data-count="none" class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">ツイート</a>
							</span>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/sidenav' %>
		</div>


	</div>
</div> 

<!-- twitter -->
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
