<%= render 'layouts/header_article_001' %>

<div class="article-title">
	<div class="container">
				
		<div class="col-md-12">
			<div class="row">		
				
						<div class="col-md-3">
							<%= image_tag("a001_4179217.jpg", :class => "img-responsive") %>
						</div> 

						<div class="col-md-9">

									<h2><span class="vol">Vol.1</span>子ども・子育て支援「新」制度の問題<span class="search"></span></h2>
									<p class="description">2015年4月より開始される「子ども・子育て支援新制度」。待機児童問題、少子化・核家族化の進行など子育てに関わる課題を解決するための制度ですが、導入が近づくにつれ、そこにはさまざまな落とし穴があることが分かってきました。</p>
									
									<div class="row">	
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<time>更新日：2015年3月16日</time>
										</div> 

										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div>
												<%= render 'layouts/sns' %>
											</div>

										</div>
								</div> 
						</div> 

			</div> 
		</div> 
	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol1-1">
					<h3>子ども・子育て支援新制度とは？</h3>
					<p>
					「社会保障と税の一体改革」の一つとして2015年4月よりスタートする本制度。制度の目的はその名の示す通り「子どもと子育てに関わる課題を解決する」こと。具体的には、認定こども園の増設、保育料の変更、保育必要度による区分の新設、小規模保育所の認可など多岐に渡る取組みが行われます。
					</p>
					<p>
					「待機児童の解消」や「少子化による幼稚園の経営悪化」などにスポットが当てられた本制度は、0〜5歳児、中でも特に、今年入所や入園を控えた子供のいる家庭に大きく影響してきます。</br>
					しかしそうした保育現場では、制度の概要についてよく分からないとの声も多く、さらに、導入直前となって新たに浮上した制度上の問題も明らかになるなど混乱が続いているようです。
					</p>
					<p>
					それでは実際に、どのような混乱が起こっているのか詳しく検証していきましょう。
					</p>
					
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" ><a href="/article/001_kodomokosodate_1#Vol1-2"><span class="glyphicon glyphicon-ok"></span>認定こども園―なる？ならない？</a></li>
							<li role="presentation" ><a href="/article/001_kodomokosodate_2#Vol1-3"><span class="glyphicon glyphicon-ok"></span>認定証＝入園許可証？</a></li>
							<li role="presentation" ><a href="/article/001_kodomokosodate_2#Vol1-4"><span class="glyphicon glyphicon-ok"></span>利用者の負担増の可能性も……</a></li>
							<li role="presentation" ><a href="/article/001_kodomokosodate_3#Vol1-5"><span class="glyphicon glyphicon-ok"></span>さらなる負担？高収入家庭への打撃</a></li>
							<li role="presentation" ><a href="/article/001_kodomokosodate_3#Vol1-6"><span class="glyphicon glyphicon-ok"></span>認可保育所間での補償格差</a></li>
							<li role="presentation" ><a href="/article/001_kodomokosodate_3#Vol1-7"><span class="glyphicon glyphicon-ok"></span>おわりに</a></li>
						</ul>
					
				</div> 


				<div id="Vol1-2">
					<h3>認定こども園―なる？ならない？</h3>
					<%= image_tag("nyuusyo-step0.png",:class => "img-responsive",:alt => "認定こども園とは幼稚園と保育所が併設された施設のことで、入園後に保護者の就労状況が変わっても柔軟に対応できる、保育所の子供も幼稚園児と同じ教育を受けられるなどのメリットがあります。") %>
					<p>
					新制度の目玉の一つである「認定こども園の普及拡大」。</br>
					これまで国は、保育所に入れない待機児童の解消や、年々園児が減っていく幼稚園の再生を促すため、幼稚園がこども園へ移行することを推奨してきましたが、なかなかその数は思うように増えませんでした。
					</p>
					

					<p>
					なぜなら現行の制度では、こども園は幼稚園部分と保育所部分によって管轄官庁が分けられており、認定されるためには双方に手続をせねばならず、申請が複雑で分かりにくいものとなっていたからです。そこで新制度では管理を国がまとめて行うことで、こども園への移行をしやすくしました。
					</p>
					<p>
					しかしここに意外な落とし穴があったのです。手続が簡素化されたところまでは良かったのですが、実は手続の一本化とともに、これまで幼稚園部分・保育所部分それぞれに対し支給されていた補助金も一元化してしまい、結果、多くの園でもらえる補助金の額が大幅ダウンしてしまったのです。その減収額は、200人以上の規模の幼稚園ともなれば数千万円にものぼるほど。
					</p>
					<p>
					こうした現状を受け、現在認定こども園として運営している園が、認定返上を決めたり、こども園への移行を決めていた園が、試算の結果採算が合わないとして移行を取りやめたり、存続を決めたこども園では、不足分の補助金を補うために利用者に負担が強いられることになってしまったり……など、本来の目的とは全く逆の作用に働いてしまっているのです。
					</p>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/001_kodomokosodate_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/001_kodomokosodate_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="001_kodomokosodate_2" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


