<%= render 'layouts/header_article_001' %>

<div class="article-title">
	<div class="container">
				
		<div class="col-md-12">
			<div class="row">		
				
						<div class="col-md-3">
							<%= image_tag("a002_178977100.jpg", :class => "img-responsive") %>
						</div> 

						<div class="col-md-9">

									<h2><span class="vol">Vol.2</span>出産・育児に優しい金銭的支援23区比較<span class="search"></span></h2>
									<p class="description">出産、保育、医療…子どもが産まれると、とかく費用がかかるもの。こうしたお金に関する負担を少しでも軽くするために、各自治体が様々な金銭的支援を用意しています。自分が住んでいる地域のサービスをしっかり把握し、賢く活用していきましょう。
									</p>
									
									<div class="row">	
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<time>更新日：2015年3月16日</time>
										</div> 

										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div>
												<%= render 'layouts/sns' %>
											</div>

										</div>
								</div> 
						</div> 

			</div> 
		</div> 
	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol2-1">
					<h3>出産にかかる費用は公費でほぼまかなえる！？</h3>
					<p>
					妊娠して、喜びと同時に襲ってくるもの――それが、お金の心配。</br>
					出産にかかる費用は人によってまちまちですが、一回につきおよそ50〜100万円がかかると言われています。

					</p>
					<p>
					「その内訳は、
					</p>
					<p>

					</p>
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_1#Vol2-2">
							妊婦検診　約10万円</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_2#Vol2-3">マタニティ費用　5万円前後</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_2#Vol2-4">出産準備用品　10万円前後</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_3#Vol2-5">出産費用　30〜70万円前後</a></li>
						</ul>
					<p>
					となっています。
					</p>
					<p>
					この額を出産までの日数で割ると、単純計算で月に5〜10万円ほどの費用がかかることになります。家や車のローン、光熱費や水道代、食費やたまの交際費でただでさえ日々の出費に頭を悩ませているというのに、さらに出ていくお金が増えるなんて、ちょっとクラクラしてしまいますよね。</br>
					ただこの費用、東京23区にお住まいの方は助成金を利用することでグッと抑えることができるんです。
					</p>
					<p>
					助成金が出るのは、先ほどあげた内訳の中の、「妊婦検診」と「出産費用」の部分。実は、23区すべてが、通常必要とされる14回分の妊婦検診を公費負担としており、実質的に無料で受けることができます。また、出産までに合計5回ほど行われる「超音波検査」は妊婦検診と別費用（1回3000円前後）になりますが、こちらもすべての自治体で1回分が公費負担となっており、港区・足立区では2回、新宿区は3回まで公費で受けることができるようになっています。
					</p>
					<p>
					また、出産費用は、個人産院、総合病院、自宅出産（助産院）それぞれ額に差はあるものの、エステやお祝いディナーのサービスがあるような豪華な施設や、個室を利用する必要がなければ40万円前後で充分に足りるでしょう。</br>
					これには、国が支給している出産育児一時金を利用します。健康保険に加入、または被扶養者になっていて妊娠4カ月以上で出産した人は、子供1人につき42万円（このうち3万円は産科医療補償制度の保険料）を受け取ることができます。
					</p>
					<p>
					特にトラブルや異常もなく通常の出産をするなら、自己負担額は妊婦健診代と出産費用あわせても2〜3万円程度で済むことが多いようです。場合によっては収支がプラスになることもあります。
					</p>
					<p>
					それ以外にも出産時にかかる費用についてさらなる助成がある自治体は、足立区、千代田区、渋谷区、港区、練馬区の5区。
					</p>
					<p>
					足立区には、「入院助産制度」という制度があり、前年分所得税額が8,400円以下の世帯、つまり、収入が120万前後の家庭（保険や住宅控除を考慮しない場合）が、低額な費用で入院・出産ができるようになっています。
					</p>
					<p>
					また、千代田区、渋谷区では、1回の妊娠・出産ごとに助成金が受け取れます。その額は、千代田区45,000円、渋谷区80,000円。ちなみに、渋谷区は「出産」に対しての助成金ですが、千代田区は「妊娠20週以降の妊娠」に対しての助成金であるという点が違っています。港区では、実際にかかった入院費用と出産育児一時金の差額を助成してくれる制度があります。
					</p>
					<p>
					練馬区では、3人以上子どもを産むと、ボーナス的に1人につき20万円もらえます。第3子以降は毎回20万円が受け取れるので、子どもをたくさん産む予定のある家庭には嬉しい制度です。
					</p>
				</div> 


				<div id="Vol2-2">
					<h3>23区は子どもの医療費助成が充実</h3>
					
					<p>
					子どもがある程度大きくなるまでは、ことあるごとに熱を出したり、風邪をひいたり、流行病をもらってきたりと、とかく親の心配は尽きないもの。そしてそれはお財布事情も同じ。健康保険に入っていれば自己負担額は少なくて済むものの、回数が重なればその分家計も圧迫します。
					</p>
					<p>
					しかしご安心あれ。東京23区は、子どもの医療費助成については全国よりもかなり進んでいるのです。
					</p>
					<p>
					なんと、23区すべてが中学生3年（15歳）までの子どもの医療費を全額助成。</br>
					入院時の食事代、健康診断・予防接種費用、薬の容器代、差額ベッド代、紹介状を持たずに大きな病院（200床以上）で受診した場合の初診料などの自己負担額を除く入院・通院費が無料となっています。
					</p>
					<p>
					嬉しいことに、千代田区、北区では高校3年（18歳）まで対象者の範囲を拡大（北区の場合、入院医療費に限られる）。</br>
					また、中央区、港区、新宿区、台東区、品川区、目黒区、大田区、世田谷区、渋谷区、豊島区、北区、練馬区、葛飾区、江戸川区の14区は、入院時の食事食事代（入院時食事療養標準負担額）も助成しています。
					</p>
					<p>
					その他、各自治体が個別に設置している子どもの医療費助成として、任意の予防接種に対する費用の助成があります。対象となる病気は、おたふくかぜ、インフルエンザなど。これは、リスト内「任意予防接種、区独自の助成」欄に記載のある19区で実施されています。</br>
					特筆すべきは渋谷区で、他の区が助成の対象を2項目ほどとしているところ、渋谷区のみ、ロタウイルスワクチン、B型肝炎、麻しん風しんなどの全5項目の予防接種の助成を受けることができます。</br>
					公費助成がなければ平均して一回5000～7000円ほどの費用がかかるものなので、お住まいの自治体で助成がある場合は賢く利用しましょう。

					</p>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/001_kodomokosodate_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="/article/001_kodomokosodate_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/002_ikuji23kuhikaku_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/002_ikuji23kuhikaku_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="002_ikuji23kuhikaku_2" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


