<%= render 'layouts/header_article_002' %>

<div class="article-title2">
	<div class="container">
				
		<div class="col-md-12">
			<div class="row">		
				
						<div class="col-md-3">
							<%= image_tag("a002_11714360.jpg", :class => "img-responsive") %>
						</div> 

						<div class="col-md-9">

									<h2><span class="vol">Vol.2</span>出産・育児に優しい金銭的支援23区比較 2015年版<span class="search"></span></h2>
									<p class="description">出産、保育、医療…子どもが産まれると、とかく費用がかかるもの。こうしたお金に関する負担を少しでも軽くするために、各自治体が様々な金銭的支援を用意しています。自分が住んでいる地域のサービスをしっかり把握し、賢く活用していきましょう。
									</p>
									
									<div class="row">	
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<time>更新日：2015年4月23日</time>
										</div> 

										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div>
												<%= render 'layouts/sns' %>
											</div>

										</div>
								</div> 
						</div> 

			</div> 
		</div> 
	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">
					<p>
						<ul class="nav">【INDEX】
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_1#Vol2-2"><span class="glyphicon glyphicon-ok"></span>出産にかかる費用は公費でほぼまかなえる！？</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_2#Vol2-3"><span class="glyphicon glyphicon-ok"></span>23区は子どもの医療費助成が充実</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_3#Vol2-4"><span class="glyphicon glyphicon-ok"></span>各自治体ごとのユニークな取組み</a></li>
							<li role="presentation" ><a href="/datavisual/002_ikuji23kuhikaku"><span class="glyphicon glyphicon-ok"></span>東京23区出産・育児に優しい金銭的支援一覧（2015年4月）</a></li>
						</ul>
					</p>

				<div id="Vol2-2">
					<h3>出産にかかる費用は公費でほぼまかなえる！？</h3>
					<p>
					妊娠して、喜びと同時に襲ってくるもの ── それが、お金の心配。</br>
					出産にかかる費用は人によってまちまちですが、一回につきおよそ50〜100万円がかかると言われています。

					</p>

					<p>
					その内訳は、
					</p>

					    <div class="bg-info">
						      <ul class="item">
						        <li>
						          <strong>妊婦検診</strong> 　約10万円
						        </li>
						        <li>
						          <strong>マタニティ用品</strong>　5万円前後
						        </li>
						        <li>
						          <strong>出産準備用品</strong>　10万円前後
						        </li>
						        <li>
						          <strong>出産費用（分娩費用）</strong>　30〜70万円前後
						        </li>
						      </ul>
						</div>



					<p>
					となっています。
					</p>
					<p>
					この額を出産までの日数で割ると、単純計算で月に5〜10万円ほどの費用がかかることになります。家や車のローン、光熱費や水道代、食費やたまの交際費でただでさえ日々の出費に頭を悩ませているというのに、さらに出ていくお金が増えるなんて、ちょっとクラクラしてしまいますよね。</br>
					ただこの費用、<mark>東京23区にお住まいの方は助成金を利用することでグッと抑えることができるんです</mark>。
					</p>
					<p class="text-center">◇</p>
					<p>
					助成金が出るのは、先ほどあげた内訳の中の、「<strong>妊婦検診</strong>」と「<strong>出産費用</strong>」の部分。実は、<mark>23区すべてが、通常必要とされる14回分の妊婦検診を公費負担としており、実質的に無料で受けることができます。</mark>また、出産までに合計5回ほど行われる「<strong>超音波検査</strong>」は妊婦検診と別費用（1回3,000円前後）になりますが、こちらもすべての自治体で1回分が公費負担となっており、港区・足立区では2回、新宿区は3回まで公費で受けることができるようになっています。
					</p>
					<p class="text-center">◇</p>
					<p>
					また、出産費用は、個人産院、総合病院、自宅出産（助産院）それぞれ額に差はあるものの、エステやお祝いディナーのサービスがあるような豪華な施設や、個室を利用する必要がなければ40万円前後からとなるでしょう。</br></br>
					これには、国が支給している出産育児一時金を利用します。<mark>健康保険に加入、または被扶養者になっていて妊娠4カ月以上で出産した人は、子供1人につき42万円（このうち3万円は産科医療補償制度の保険料）を受け取ることができます</mark>。
					</p>
					<p>
					特にトラブルや異常もなく通常の出産をするなら、自己負担額は妊婦健診代と出産費用あわせても2〜3万円程度で済むことが多いようです。場合によっては収支がプラスになることもあります。
					</p>
					<p class="text-center">◇</p>
					<p>
					それ以外にも出産時にかかる費用についてさらなる助成がある自治体は、<strong>足立区、千代田区、渋谷区、港区、練馬区</strong>の5区。
					</p>
					<p>
					<strong>足立区</strong>には、「<strong>入院助産制度</strong>」という制度があり、前年分所得税額が8,400円以下の世帯、つまり、収入が120万前後の家庭（保険や住宅控除を考慮しない場合）が、<mark>低額な費用で入院・出産ができるようになっています</mark>。
					</p>
					<p>
					また、<strong>千代田区、渋谷区</strong>では、<mark>1回の妊娠・出産ごとに助成金が受け取れます</mark>。その額は、千代田区45,000円、渋谷区80,000円。ちなみに、渋谷区は「出産」に対しての助成金ですが、千代田区は「妊娠20週以降の妊娠」に対しての助成金であるという点が違っています。</br>
					<strong>港区</strong>では、実際にかかった入院費用と出産育児一時金の差額を助成してくれる制度があります。
					</p>
					<p>
					<strong>練馬区</strong>では、<mark>3人以上子どもを産むと、ボーナス的に1人につき20万円もらえます</mark>。第3子以降は毎回20万円が受け取れるので、子どもをたくさん産む予定のある家庭には嬉しい制度です。
					</p>
				</div> 

				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/002_ikuji23kuhikaku_2"class="button">23区は子どもの医療費助成が充実<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/002_ikuji23kuhikaku_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="/article/002_ikuji23kuhikaku_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/002_ikuji23kuhikaku_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/002_ikuji23kuhikaku_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="002_ikuji23kuhikaku_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


