<%= render 'layouts/header_article_003' %>

<div class="article-title3">
	<div class="container">
				
		<div class="col-md-12">
			<div class="row">		
				
						<div class="col-md-3">
							<%= image_tag("a003_010.jpg", :class => "img-responsive") %>
						</div> 

						<div class="col-md-9">

									<h2><span class="vol">Vol.3</span>23区初！圧倒的なスピードで「“第二子保育料”無料」にふみきった港区の推進力に迫る<span class="search"></span></h2>
									<p class="description">4月から開始した「子ども・子育て支援新制度」。これにあわせて各自治体では大幅な制度や保育料な改正がありました。今回は、23区で初めて、第二子の保育料無料化に踏み切った港区さんにお話を伺ってきました。他の自治体よりも圧倒的に早く改定料金が発表された、驚くべき理由とは・・・？
									</p>
									
									<div class="row">	
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<time>更新日：2015年5月13日</time>
										</div> 

										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div>
												<%= render 'layouts/sns' %>
											</div>

										</div>
								</div> 
						</div> 

			</div> 
		</div> 
	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol3-2">

					<p>
					今年4月から開始した「子ども・子育て支援新制度」では、各自治体が独自に「子ども・子育て支援事業計画」を策定し、子どもを生み・育てやすい環境づくりのための計画を定めることを義務づけています。
					</p>

					<p class="text-center">◇</p>

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
							<%= image_tag("article_vol3_1.jpg", :class => "img-responsive") %>
							<%= image_tag("article_vol3_3.jpg", :class => "img-responsive") %>
						</div>


						<p class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
						今回お話を伺った港区では、この事業計画の目玉として23区で初めて「第二子以降の保育料全額無料化」に踏み切りました。この制度により、区内の保育施設に子どもをあずける港区の家庭は、第二子以降の保育料が無料となります。驚くべきことに、その発表がされたのは昨年11月のこと。新制度開始直前（今年2月頃〜）になって各自治体がようやく少しずつ新保育料を発表する中、港区はいち早く第二子無料化と新制度開始後の改定料金を発表していたのです。</br></br>

						その推進力の秘訣を探るため、社会保障.comでは、港区の新制度に伴う改定内容に詳しい、港区保育担当課長の横尾恵理子さんにお話を伺ってきました。
						</p>	
					</div>
					<p class="text-center">◇</p>

				</div> 

				<div id="Vol3-3">
					<h3>23区初の試み、「“第二子以降保育料”無料化」をいち早く港区が発表した理由とは？</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							    <div class="bg-info">


										<ul class="item_num">

										<p>
										<strong>「第二子以降保育料無料化」の概要</strong></br>
										港区内の保育施設に子どもをあずける港区の家庭は、第二子以降の保育料が無料となる制度。</br>
										対称となる保育施設：
										</p>

											<li>
											  <strong>区立の保育園</strong>
											</li>
											<li>
											  <strong>私立の保育園</strong>
											</li>
											<li>
											  <strong>緊急暫定保育室</strong></br>
											  緊急的に設置された保育室。港区が独自で設置している。無認可だが、認可と同じ基準・同じ保育料で運営されている
											</li>
											<li>
											  <strong>認証保育所</strong>（認可を申し込んでいる家庭のみ対象）</br>
											  国の基準をクリアして認可保育所になるには大都市での設置は困難であるため東京都が独自に基準を設定し、その基準をクリアした保育所のこと。保育料は認証保育所が独自に設定するため、認可保育所より高くなることがある。</br>
											  <small>※第一子についても認可保育園と同額の負担になるように本年度から補助あり</small>
											</li>
										</ul>
								</div>
							<div>
								<h4>─第二子無料化に踏み切った理由は？</h4>
								<p>
								港区ではこれまでも「子育てするなら港区」というスローガンを掲げ、子育て支援に力を入れてきました。</br>
								背景には、子どもの数が増えてきたというのがあります。港区には六本木ヒルズやミッドタウンをはじめとした商業施設がたくさんありますが、それに併せて住宅も建設されていますし、芝浦港南地域には高層マンションが続々建設されています。そこにファミリー層が入ってきたことで、ここ数年、子どもの数が急増しているのです。</br></br>
								そのような状況の中で、区内の認可保育園に通っている子どもはおよそ4500人いますが、第二子以降はその約16%の700人にとどまっているということがわかりました。これを受けて「第二子以降を生み・育てる環境を手厚くする必要がある」として、今回の無料化にふみきりました。
								</p>
							</div>
							<h4>─実現する上で、どのような点に苦労しましたか？</h4>
							<p>
							改定までの期間が非常に短かったことです。</br></br>
							新しい施策の内容決定から、区民の方への発表、説明までをおよそ1年ほどの短い期間で行わなければなりませんでした。スピーディな改正を実現するために、教育委員会や財政的な部門など、区・庁が一丸となって検証・検討しました。</br></br>
							たとえば…
							</p>
							
								<ul class="item">
									<li>第二子無料を行うことによって他の政策に影響はないか</li>
									<li>財政的な負担はどうなる　など</li>
								</ul>
							
							<p>
								国のほうも、26年度に入ってから検討を重ねながら各自治体に少しずつ情報を渡していくような形だったので、こちらとしては動きが読めず、決定を日々詰めていくのは短い時間の中で非常に厳しかったです。
							</p>

							<h4>─たしかに、他の自治体よりずいぶん早く発表されていましたよね。</h4>
							<p>
							保育料を変えるには、区議会を通し、そこで可決を得、条例を改正するという手続きをふまなければなりません。しかし、区議会は基本的に年４回の「定例会」のときにしか開催されないため、翌年度の保育園の募集期間中に保育料を発表するには、前年の12月頃に開催される「第４回定例会」に間に合わせる必要がありました。これに間に合わせるべく区・庁が総力をあげて取り組んだ結果、なんとか11月中に決定ができ、「第４回定例会」で条例改正の承認がおりて、1月の中〜下旬から各地区ごとに区の職員が出向いて説明を始めることができたのです。</br></br>
							ただ、本当にタイトな期間だったので、各自治体は早い段階での改定を目指してはいたものの、新制度開始直前の2月頃に開催される「第１回定例会」まで時間をかけざるを得なかったのだと思います。
							</p>

							<h4>─どうしてそこまでして早くすることにこだわったのですか？</h4>
							<p>
							今回、「子ども・子育て支援新制度」の開始に伴って、保育料自体を標準の時間と短時間に分けて区分しなければならなかったので、どの自治体もすべからく保育料を改定する必要がありました。しかし、通常、翌年度の保育園の募集をはじめるのが前年の11月頃で、その申込を締め切るのが1月中旬頃であるため、その期間内に翌年度の保育料がどうなるのか分かっていたほうが保護者の方にとっていいだろうと考えました。そのためには、第１回定例会では遅かったので、そのひとつ前の第４回定例会に間に合わせる必要があったためです。</br></br>
							</p>

						</div>
					</div>
				</div>

				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/003_minatokuinterview_2"class="button">「子ども・子育て新制度」開始後の港区の保育料はどうなってる？<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/003_minatokuinterview_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="/article/003_minatokuinterview_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/003_minatokuinterview_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/003_minatokuinterview_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="003_minatokuinterview_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav">【INDEX】
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_1#Vol2-2"><span class="glyphicon glyphicon-ok"></span>出産にかかる費用は公費でほぼまかなえる！？</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_2#Vol2-3"><span class="glyphicon glyphicon-ok"></span>23区は子どもの医療費助成が充実</a></li>
							<li role="presentation" ><a href="/article/002_ikuji23kuhikaku_3#Vol2-4"><span class="glyphicon glyphicon-ok"></span>各自治体ごとのユニークな取組み</a></li>
							<li role="presentation" ><a href="/datavisual/002_ikuji23kuhikaku"><span class="glyphicon glyphicon-ok"></span>東京23区出産・育児に優しい金銭的支援一覧（2015年4月）</a></li>
						</ul>
					</p>

				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


