<%= render 'layouts/header_article_003' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol3-5">
					<h3>「子育てするなら港区」気になるその他の子育て支援策は？</h3>
					<h4>─港区が子育て支援策においてとくに注力している点は？</h4>
						<div class="row">

							<p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							待機児童解消については、これまでも定員の拡大をはじめさまざまな工夫を凝らして常に待機児童の解消を目指してきました。</br></br>

							先日発表をさせていただいたのですが、平成２７年４月の港区の待機児童数は30名となり、昨年度の４５名から１５名減少しました。</br>
							今年度についても、私立の認可保育園を４園誘致、区立の保育園を新たに設置することなどを予定しており、さらなる待機児童の解消を目指しています。

							</p>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<%= image_tag("article_vol3_4.jpg", :class => "img-responsive") %>
								<p class="small"><a href="http://www.city.minato.tokyo.jp/houdou/kuse/koho/houdouhappyou/documents/20150415-8-1-.pdf" target="_blank">出典 港区公式ホームページプレス資料：待機児童30名を達成</a>（2015/6/1アクセス）</p>
							</div>

						</div>

					<h4>─そのほかの施策にはどんなものがありますか？</h4>
					<p>
					待機児童解消と繋がっているのですが、0〜5歳の対象の子どもが増えているということは、数年先には小学校にあがる子どもが当然増えていくと考えられます。そのため現在、学童クラブの定員の拡大なども進めています。</br></br>
					また、自宅で子育てをするご家庭にも様々な悩みがあると思います。そういった方々が気軽に相談しやすいように、この４月から新たに「子育てコーディネーター事業」を区内２ヶ所で新しく実施しています。

					</p>
					<ul class="nav">
						<li role="presentation" ><a href="http://www.city.minato.tokyo.jp/kosodatesien/coordinator.html"><span class="glyphicon glyphicon-ok" target="_blank"></span>【関連資料】港区公式ホームページ：子育てコーディネーター事業</a></li>
					</ul>
				</div> 


				<div id="Vol2-5">
					<h3>おわりに</h3>
					
					<p>
					今回お話を伺う中で、実際に制度を利用する区民のみなさんの立場になって考え、一丸となってプロジェクトを推進する港区の姿が見えてきました。改正後の料金を発表するタイミングだけでなく、大きな制度改正なので混乱を起こさないよう改正額にも配慮がされていたりと、細やかな気配りが嬉しいですね。
					徹底的な区の推進力で盛り上がる「子育ての港区」、今後もますます目が離せません。
					</p>


				</div>


				<div id="Vol2-5">
					<div class="col-lg-12 container-author">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
								<%= image_tag("nao-sakaguchi.png",:class => "img-responsive")  %>
							</div>
							<div class="col-lg-10 col-md-8 col-sm-9 col-xs-9">
								<p class="">
								<small>ライター：</small><strong>坂口直</strong>
								</p>
								<p class="">
								Webを中心とした取材記事を執筆。日本の伝統・文化にフォーカスした紀行文の連載や、東京・恵比寿を拠点とした地域の最新情報の発信など、「人と地域」をテーマとした様々な活動を行う。一方、ニュースメディアでの編集経験を活かし、経済・政治を客観的に読み解く記事の執筆にもあたる。
								</p>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/003_minatokuinterview_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/003_minatokuinterview_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/003_minatokuinterview_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/003_minatokuinterview_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="003_minatokuinterview_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav">【INDEX】
							<li role="presentation" ><a href="/article/003_minatokuinterview_1#Vol3-2"><span class="glyphicon glyphicon-ok"></span>23区初の試み、「“第二子以降保育料”無料化」をいち早く港区が発表した理由とは？</a></li>
							<li role="presentation" ><a href="/article/003_minatokuinterview_2#Vol3-4"><span class="glyphicon glyphicon-ok"></span>「子ども・子育て新制度」開始後の港区の保育料はどうなってる？</a></li>
							<li role="presentation" ><a href="/article/003_minatokuinterview_3#Vol3-5"><span class="glyphicon glyphicon-ok"></span>「子育てするなら港区」気になるその他の子育て支援策は？</a></li>
						</ul>
					</p>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


