<%= render 'layouts/header_article_004' %>

<div class="article-title4">
	<div class="container">
				
		<div class="col-md-12">
			<div class="row">		
				
						<div class="col-md-3">
							<%= image_tag("a004_010.jpg", :class => "img-responsive") %>
						</div> 

						<div class="col-md-9">

									<h2><span class="vol">Vol.4</span>新制度後、保活の現状はどう変わった？「保育園ふやし隊@杉並」インタビュー<span class="search"></span></h2>
									<p class="description">5月15日、杉並区役所にて待機児童の解消を求める異議申し立てがおこなわれました。声をあげたのは、杉並区に住む小さな子どもを持つお母さんたちのグループ「保育園ふやし隊@杉並」。2年前から保育園増設に向けた運動を続ける彼女たちに、保活の現状をうかがいました。
									</p>
									
									<div class="row">	
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<time>更新日：2015年7月1日</time>
										</div> 

										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div>
												<%= render 'layouts/sns' %>
											</div>

										</div>
								</div> 
						</div> 

			</div> 
		</div> 
	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol4-1">
					<h3>保育園一揆の火付け役「保育園ふやし隊@杉並」とは？</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">

							<div>
								<p>
								2013年春、都内各地で巻き起こった「保育園一揆」。この活動で先陣をきったのが、今回取材に応じてくれた<a href="http://fuyashitai.blog.shinobi.jp/" target="_blank">「保育園ふやし隊@杉並」</a>のみなさんです。</br></br>

								メンバーは、杉並区に住む小さな子どものお母さんたち。彼女たちが2年前に起こした行動とは、自治体に対し、保育園の増設をもとめる異議申し立てをおこなうというものでした。メディアでも大きく取り上げられ、杉並に端を発したこの活動は、足立、太田、渋谷、さらにはさいたま市にも広がり、いつしか「ママ一揆」「保育園一揆」と呼ばれる大きなムーヴメントへと成長していきました。</br></br>

								そこで、<mark>異議申し立ての結果、杉並区からは、保育所の定員を１年で400人増やす緊急対策を引き出すことに成功。それでも約1,500人もの入園希望者が残されたままでしたが、大きな一歩をふみ出すことができました。</mark></br></br>

								以後ふやし隊は、年に一度の異議申し立てのほか、保育の情報をシェアしあう保活イベントの開催、選挙候補者に対し待機児童問題についてのアンケートを実施するなど、保育に関する活動を定期的におこなっています。</br>

								</p>
							</div>
							

						</div>
					</div>
				</div>





				<div id="Vol4-2">
					<h3>「保育園を増やして！」異議申し立ての方法は？参加者は？</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">

							<div>
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
											<%= image_tag("article_vol4_1.jpg", :class => "img-responsive") %>
											<%= image_tag("article_vol4_2.jpg", :class => "img-responsive") %>
									</div>

									<p class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
									今回行われた杉並区役所への異議申し立ては、去年、一昨年に続く3度目の取り組み。依然として残されたままの待機児童問題を一歩でも前進させるために、母親たちの代表として行動を続けていくことを選択したそうです</br></br>
									メンバーは、杉並区に住む小さな子どものお母さんたち。彼女たちが2年前に起こした行動とは、自治体に対し、保育園の増設をもとめる異議申し立てをおこなうというものでした。</br></br>メディアでも大きく取り上げられ、杉並に端を発したこの活動は、足立、太田、渋谷、さらにはさいたま市にも広がり、いつしか「ママ一揆」「保育園一揆」と呼ばれる大きなムーヴメントへと成長していきました。</br></br>
									</p>
								</div>

								<p>
								異議申し立ては、各年、入園申込みの一次結果が発表される2月頃と、二次結果が発表される5月頃の2回にわけておこなっており、今回取材させてもらったのは、5月の「二次結果発表後」。つまり、区から「正式な不承諾通知」を受けてのアクションになります。</br></br>

								申し立ての方法は、ふやし隊が準備した申立書のフォーマットに名前などを書き込み、区役所の担当者に提出するという簡単なもの。当日集合してその場で記入でも良いし、ふやし隊のサイトからダウンロードした申込書を事務局に送付しても良いそうです。</br></br>

								この日現場に駆けつけたお母さんたちの人数は7名。なかには赤ちゃんを連れている方もいらっしゃいました。
								こうして今回提出されたのが、事前預かりの分を含め10通の異議申立書。しかし、この10という数は「氷山の一角」であると、ふやし隊メンバーは語ります。異議申し立てを行いたくても、仕事をしていて参加できない方や、あきらめてしまう方がたくさんいるのだそうです。</br></br>

								では、実際に活動に参加されているのはどんな方なのでしょうか？この日参加されていたお母さん方に、参加のきっかけなどを教えていただきました。</br></br>


								</p>
							</div>
							

						</div>
					</div>
				</div>



				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/004_suginamifuyashitai_2"class="button">「保育園ふやし隊@杉並」参加者の声<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/004_suginamifuyashitai_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="/article/004_suginamifuyashitai_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="/article/004_suginamifuyashitai_4" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-1"><span class="glyphicon glyphicon-ok"></span>保育園一揆の火付け役「保育園ふやし隊@杉並」とは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-2"><span class="glyphicon glyphicon-ok"></span>「保育園を増やして！」異議申し立ての方法は？参加者は？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-3"><span class="glyphicon glyphicon-ok"></span>「保育園ふやし隊@杉並」参加者の声</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-4"><span class="glyphicon glyphicon-ok"></span>活動参加者の声から見えてきたニーズは「やっぱり認可保育園」</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-5"><span class="glyphicon glyphicon-ok"></span>活動後の区の対応は？ 新制度でカバーできたポイントは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-6"><span class="glyphicon glyphicon-ok"></span>ほしい未来をつくるには、自らアクションすること</a></li>
						</ul>
					</p>

				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


