<%= render 'layouts/header_article_004' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">



					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							<div id="Vol4-5">

								<div>
									<h3>活動後の区の対応は？ 新制度でカバーできたポイントは？</h3>

									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
											<p>
											保育園ふやし隊の活動の成果もあり、杉並区では毎年少しずつ認可保育園の数や受け入れ人数が増えてきているそうです。</br></br>
											<mark>「区の対応には、本当に感謝しています」と語る彼女たちが活動を継続しているのは、それでもなお、保育の質・量ともに不足している状況が続いているから。</mark></br></br>

											今後杉並区に期待することは、園の数だけではない「質の充実」。人材の育成、病児保育施設の増設などをのぞむ声があがっていました。
											</p>
										</div>

										<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
											<%= image_tag("article_vol4_5.jpg", :class => "img-responsive") %>
											<p class="small"><a href="http://www2.city.suginami.tokyo.jp/library/file/270507taikijidousuu.pdf" target="_blank">出典 杉並区ホームページプレス資料：平成27年4月の杉並区の保育所入所待機児童数について</a>（2015/7/1アクセス）</p>

											<%= image_tag("article_vol4_6.jpg", :class => "img-responsive") %>
											<p class="small"><a href="http://www2.city.suginami.tokyo.jp/news/detail/17049/2704ninkatou_mousikomijoukyou270119_2.pdf" target="_blank">出典 杉並区ホームページプレス資料：平成27年4月の杉並区の認可保育所等の利用申込み状況</a>（2015/7/1アクセス）</p>
											<p class="small">
											※ 待機児童数は45人だが、認可保育園に希望し入園できなかった人数は1,735人に及ぶ。認可外の施設等に入園しても設備（施設の広さ/職員数/給食設備/防災管理/衛生管理等）、事故などの補償、年齢制限、補助金額、補助金対象外等の問題で引き続き、認可保育園を希望する保護者は多く潜在的な待機児童は発表された人数を上回ることが予想される。
											</p>
										</div>

										<p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										今年4月より施行となった<a href="/article/001_kodomokosodate_1" target="_blank">「子ども・子育て支援新制度」</a>。これまでのコラムでもこの制度について取り上げてきましたが、実際にこうしたお母さんたちの要望に新制度はどれだけ対応できたのでしょうか？</br></br>

										現在、杉並区内でのこども園は6園にとどまっており、大幅な定員の増加には未だ対応できていません。</br></br>

										また、「制度が変わって混乱した保護者が役所に問い合わせても、説明が二転三転してさらに混乱してしまう」、「認可と認証の補償格差などについての細かい説明がない」、「入園のしやすさに大きな変化は見られない」、「認可外保育施設指導監督基準を満たさない質の悪い保育施設の存在について触れられていない」など、出てくるのはネガティブな印象ばかり。</br></br>

										<mark>現状、新制度は、ワーキングママたちの要求に答える政策とはほど遠いものになっているようでした。</mark>
										</p>




								</div>
							</div>

							</div>
						</div>

						</div>




					<div id="Vol4-6">
						<h3>ほしい未来をつくるには、自らアクションすること</h3>
						
						<p>
						結局、新制度でも大きく解決することのできなかった「待機児童問題」。杉並区の健闘は素晴らしいものですが、働くママたちの需要を満たすレベルに到達するには、道のりは遠いと言わざるを得ません。</br></br>

						こう書くと、未来が暗く不安なものに感じられますが、<a href="http://fuyashitai.blog.shinobi.jp/" target="_blank">「保育園ふやし隊@杉並」</a>のみなさんが下を向いているだけで終わるはずがないということはお分かりのはず。</br></br>

						<mark>「当事者が声をあげなければ、何も変わりませんから」</mark></br></br>
						そう語る彼女たちの活動は年々広がりを見せ、他の自治体の保護者たちから「異議申立書を参考にしたい」という連絡をもらったり、また、活動をニュースなどで知った保活初心者のお母さんたちが0歳からの保活に取り組んだりするなど、母親たちの間でもじわじわと変化が起こりはじめているそうです。</br></br>

						ほしい未来をつくるには、待っているばかりでなく、行動すること。せっかくSNSの普及により声をあげやすくなっているのだから、<mark>自分にとって有益な情報を自ら取りにいったり、それが見つからなかったら作り出す、というアクションこそが重要になってくるのではないでしょうか？</mark>

						</p>


					</div>


				<div id="Vol4-7">
					<div class="col-lg-12 container-author">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
								<%= image_tag("nao-sakaguchi.png",:class => "img-responsive")  %>
							</div>
							<div class="col-lg-10 col-md-8 col-sm-9 col-xs-9">
								<p class="">
								<small>ライター：</small><strong>坂口直</strong>
								</p>
								<p class="">
								Webを中心とした取材記事を執筆。日本の伝統・文化にフォーカスした紀行文の連載や、東京・恵比寿を拠点とした地域の最新情報の発信など、「人と地域」をテーマとした様々な活動を行う。一方、ニュースメディアでの編集経験を活かし、経済・政治を客観的に読み解く記事の執筆にもあたる。
								</p>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/004_suginamifuyashitai_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/004_suginamifuyashitai_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="/article/004_suginamifuyashitai_4" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-1"><span class="glyphicon glyphicon-ok"></span>保育園一揆の火付け役「保育園ふやし隊@杉並」とは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-2"><span class="glyphicon glyphicon-ok"></span>「保育園を増やして！」異議申し立ての方法は？参加者は？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-3"><span class="glyphicon glyphicon-ok"></span>「保育園ふやし隊@杉並」参加者の声</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-4"><span class="glyphicon glyphicon-ok"></span>活動参加者の声から見えてきたニーズは「やっぱり認可保育園」</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-5"><span class="glyphicon glyphicon-ok"></span>活動後の区の対応は？ 新制度でカバーできたポイントは？</a></li>
							<li role="presentation" ><a href="/article/004_suginamifuyashitai_1#Vol4-6"><span class="glyphicon glyphicon-ok"></span>ほしい未来をつくるには、自らアクションすること</a></li>
						</ul>
					</p>
				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


