<%= render 'layouts/header_article_004' %>

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


					<div id="Vol3-4">
						<h3>活動参加者の声から見えてきたニーズは「やっぱり認可保育園」</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
					
							<div>
									<p>
									話をうかがっていると、小さなお子さんを持つお母さんの抱える悩み、求めていることに共通点があることがわかりました。大きく分けると、そのニーズは下記の2点に絞られます。
									</p>
								

								<div>
								
									<h4>▼ 保活は早めのスタートが吉！</h4>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
												<%= image_tag("article_vol4_4.jpg", :class => "img-responsive") %>
										</div>

										
										<p>
										まず、みなさん一同に口を揃えて言っていたのが、「出産前は保活について考えていなかった。待機児童問題など知らなかった」ということ。いざ子どもを保育園に預けようと保活を始めてから待機児童問題の深刻さに気づき、そこではじめて当事者となるケースが多いようです。</br></br>

										たとえば、認可外の企業運営（私立）保育園は、先着順の場合や単願申し込み者優先の場合があります。園によって先行基準が異なりますが、公表されているわけではないので、実際に各園に問い合わせてみないとわからないのです。また、認可保育園の不承諾結果を受けてからでは、すでに認可外保育園の枠はほぼ埋まっています。しかしこのようなことも、保活を経験したことがないとわからないのです。</br></br>

										認可保育園に入園する為に必要なポイントを加点するにはどのタイミングで何をするべきか、そもそもどこの自治体が保育に力を入れているのかなど、出産前からしっかり情報集めをしておくことが、有利な保活を進めるコツであるようです。

										</p>

										</div>
									</div>

								<div>
									<h4>▼ やっぱり認可保育園に預けたい！</h4>
									<p>
									保育園を探しているときは、とにかく「仕事に復帰する」ことを前提に考え、認可でない保育施設でもいいからと預けるものの、いざ通園してみるとその違いを感じずにはいられないのだとか。</br></br>

									たとえば杉並区の場合、認証保育園に対して保育料の補助がおこなわれているので金額的には認可も認証も変わらないように見えますが、その補助金が課税対象になっており、やはり認可よりずいぶん割高になってしまうそう。</br></br>

									また、認証保育園は敷地面積がやや狭いため、子どもが自由に動き回る3歳ごろになると、広くて設備が充実した施設で過ごさせたくなるんだとか。そういった理由からか、3歳ごろになると認可の保育園や幼稚園に移動するお子さんが増え、一緒に遊ぶ友達が少なくなっていくのだそうです。</br></br>

									事故などの際の保障も違ってくるので、やっぱり認可保育園がいい、という声は根強い様子。</br></br>
									ただ、認可に預けられないからといって諦めるのではなく、認証保育園などに預けることで、認可保育園の入所に必要な加点ポイントがあがることが期待できます。

									</p>
								</div>

								<div>
									<h3>活動後の区の対応は？ 新制度でカバーできたポイントは？</h3>
									<p>
									保育園ふやし隊の活動の成果もあり、杉並区では毎年少しずつ認可保育園の数や受け入れ人数が増えてきているそうです。「区の対応には、本当に感謝しています」と語る彼女たちが活動を継続しているのは、それでもなお、保育の質・量ともに不足している状況が続いているから。</br></br>

									今後杉並区に期待することは、園の数だけではない「質の充実」。人材の育成、病児保育施設の増設などをのぞむ声があがっていました。</br></br>

									今年4月より施行となった「子ども・子育て支援新制度」。これまでのコラムでもこの制度について取り上げてきましたが、実際にこうしたお母さんたちの要望に新制度はどれだけ対応できたのでしょうか？</br></br>

									現在、杉並区内でのこども園は6園にとどまっており、大幅な定員の増加には未だ対応できていません。</br></br>

									また、「制度が変わって混乱した保護者が役所に問い合わせても、説明が二転三転してさらに混乱してしまう」、「認可と認証の保障格差などについての細かい説明がない」、「入園のしやすさに大きな変化は見られない」など、出てくるのはネガティブな印象ばかり。</br></br>

									現状、新制度は、ワーキングママたちの要求に答える政策とはほど遠いものになっているようでした。
									</p>
								</div>



							</div>
						</div>

						</div>

					</div>


					<div id="Vol2-5">
						<h3>ほしい未来をつくるには、自らアクションすること</h3>
						
						<p>
						結局、新制度でも大きく解決することのできなかった「待機児童問題」。杉並区の健闘は素晴らしいものですが、働くママたちの需要を満たすレベルに到達するには、道のりは遠いと言わざるを得ません。</br></br>

						こう書くと、未来が暗く不安なものに感じられますが、「保育園ふやし隊@杉並」のみなさんが下を向いているだけで終わるはずがないということはお分かりのはず。</br></br>

						「当事者が声をあげなければ、何も変わりませんから」</br></br>
						そう語る彼女たちの活動は年々広がりを見せ、他の自治体の保護者たちから「異議申立書を参考にしたい」という連絡をもらったり、また、活動をニュースなどで知った保活初心者のお母さんたちが0歳からの保活に取り組んだりするなど、母親たちの間でもじわじわと変化が起こりはじめているそうです。</br></br>

						ほしい未来をつくるには、待っているばかりでなく、行動すること。せっかくSNSの普及により声をあげやすくなっているのだから、自分にとって有益な情報を自ら取りにいったり、それが見つからなかったら作り出す、というアクションこそが重要になってくるのではないでしょうか？

						</p>


					</div>


				<div id="Vol2-5">
					<div class="col-lg-12 container-author">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
								<%= image_tag("nao-sakaguchi.png",:class => "img-responsive")  %>
							</div>
							<div class="col-lg-10 col-md-8 col-sm-9 col-xs-9">
								<p class="">
								<small>ライター：</small><strong>坂口直</strong>
								</p>
								<p class="">
								Webを中心とした取材記事を執筆。日本の伝統・文化にフォーカスした紀行文の連載や、東京・恵比寿を拠点とした地域の最新情報の発信など、「人と地域」をテーマとした様々な活動を行う。一方、ニュースメディアでの編集経験を活かし、経済・政治を客観的に読み解く記事の執筆にもあたる。
								</p>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>


				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/004_suginamifuyashitai_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/004_suginamifuyashitai_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li class="active"><a href="/article/004_suginamifuyashitai_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="004_suginamifuyashitai_3" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav">【INDEX】
							<li role="presentation" ><a href="/article/003_minatokuinterview_1#Vol3-2"><span class="glyphicon glyphicon-ok"></span>23区初の試み、「“第二子以降保育料”無料化」をいち早く港区が発表した理由とは？</a></li>
							<li role="presentation" ><a href="/article/003_minatokuinterview_2#Vol3-4"><span class="glyphicon glyphicon-ok"></span>「子ども・子育て新制度」開始後の港区の保育料はどうなってる？</a></li>
							<li role="presentation" ><a href="/article/003_minatokuinterview_3#Vol3-5"><span class="glyphicon glyphicon-ok"></span>「子育てするなら港区」気になるその他の子育て支援策は？</a></li>
						</ul>
					</p>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


