<%= render 'layouts/header_article_005' %>

<div class="article-title4">
	<div class="container">
				
		<div class="col-md-12">
			<div class="row">		
				
						<div class="col-md-3">
							<%= image_tag("pr.png", :class => "img-responsive") %>
						</div> 

						<div class="col-md-9">

									<h2><span class="vol">Vol.5</span>年収・子供の年齢ごとに違う! 東京23区保育料を徹底比較!<span class="search"></span></h2>
									<p class="description">今年4月から子育て支援新制度がスタートし、さまざまな自治体で保育料の見直しが行われました。今回の制度改革によって、どのような選択をすることで、保育料をよりお得に、低価格におさえることができるのでしょうか。
									</p>
									
									<div class="row">	
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<time>更新日：2015年7月28日</time>
										</div> 

										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div>
												<%= render 'layouts/sns' %>
											</div>

										</div>
								</div> 
						</div> 

			</div> 
		</div> 
	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">


			<div class="article">


				<div id="Vol5-1">
					<h3>認可保育園の保育料、我が家にお得なのはどこの区？</h3>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">

							<div>
								<p>
								保育料が決定する要素は、大きく分けて①住んでいる地域（所属する自治体）、②世帯年収の所得割額、③子供の年齢、④在園児の人数の4つ。</br></br>

								なかでも一番ややこしいのが、②の世帯年収の所得割額です。この額は前年度の世帯年収から算出されます。（ご自分の所得割額は、毎年6月頃にお勤めの会社から配布される「特別徴収税額の通知書」で確認することができます）</br>
								保育料は、この所得割額による「応能負担」なので、年収が増えれば保育料も増えるという仕組みになっているのです。</br></br>

								所得割額による断層の数は自治体によってさまざまですが、断層が細かいほど年収による保育料の不公平が生じない仕組みになっています。収入に応じて細やかな料金設定がされているということですね。</br>
								なお、階層が最も多い区は中野区の43階層、少ない区は千代田区の24階層で、全体の平均は29階層となっています。</br></br>

								※どの自治体も3歳児と４歳児以上では金額の差が少ないため、4歳児以上の金額については掲載を割愛しています</br>
								※認可保育園には区立と私立がありますが、ここでは区立のデータをまとめています</br>


								</p>

								<p>
								推定年収〜330万円に優しい保育料の設定をしている自治体
								[3歳未満児]</br>
								安い自治体　→　渋谷区(0円)、文京区(2,400円)、港区・新宿区(3,100円)</br>
								高い自治体　→　品川区(20,800円)、江戸川区(19,400円)、北区( 19,100円)</br>
								平均　→　 8,952円</br></br>

								[3歳児]</br>
								安い自治体　→　渋谷区(0円)、文京区(2,000円)、港区(2,700円)</br>
								高い自治体　→　品川区( 13,900円)、江戸川区(12,900円)、北区( 12,700円)</br>
								平均　→　 7,074円</br></br>
								</br></br>

								推定年収〜640万円に優しい保育料の設定。</br></br>
								[3歳未満児]</br>
								安い自治体→　渋谷区(10,160円)、中央区(18,400円)、港区・新宿区(21,500円)、</br>
								高い自治体→　江戸川区（34,700円）、江東区(32,100円)、品川区(31,900円)</br>
								平均　→　 26,433円</br></br>

								[3歳児]</br>
								安い自治体→　渋谷区(6,800円)、港区・中央区(14,300円)、目黒区(15,100円)</br>
								高い自治体→　江戸川区( 22,900円)、新宿区( 21,500円)、品川区( 21,300円)</br>
								平均　→　 18,217円</br></br>

								推定年収〜 1,130万円に優しい保育料の設定。</br>
								[3歳未満児]</br>
								安い自治体→中央区(37,100円)、練馬区(38,500円)、新宿区・杉並区(40,000円)</br>
								高い自治体→豊島区・江戸川区(58,500円)、板橋区(57,600円)、江東区(57,200円)</br>
								平均　→　 47,948円</br></br>

								[3歳児]</br>
								安い自治体　→　 文京区( 18,000円)、 新宿区( 22,200円)、 北区・葛飾区・荒川区・練馬区・千代田区・港区・中央区・渋谷区 ( 22,600円)</br>
								高い自治体　→　世田谷区( 31,500円)、板橋区( 30,000円)、豊島区( 29,700円)</br>
								平均　→　 24,826円</br></br>

								</p>

								<p>
								こうして見てみると、総合的に、渋谷区、港区、文京区は〜330万円から470万円の世帯に対して優しく、品川区、北区、江戸川区は他の自治体と比較すると〜330万円から640万円の世帯に対して保育料が高い傾向にあり、逆に高所得者には優しいといえます。</br></br>

								特に渋谷区は、〜470万円以下の保育料は全て無料とするなど、低所得家庭に対して、他の自治体よりも圧倒的に有利な価格設定をしています。</br></br>
								この価格設定は、渋谷区独自の保育料軽減制度を期間限定で施行したものですが、現時点では具体的な期限は決まっていません。なお、平成26年度までは、一度満額を徴収した後に軽減額を返す方式をとっていましたが、平成27度からは最初から軽減した額で徴収する形へ変更しています。
								</p>


							</div>
							

						</div>
					</div>
				</div>






				<div class="">
					<p>
					  <button type="button" class="btn btn-primary btn-lg btn-block"><a class="btnc" href="/article/005_tokyo23hoikuryo_2"class="button">第二子・第三子の保育料の割引について<span class="glyphicon glyphicon-chevron-right"></a></span>
					  </button>
					</p>
				</div>



				<div class="">
					<nav class="text-center">
					  <ul class="pagination pagination-lg">
					    <li class="disabled"><a href="/article/005_tokyo23hoikuryo_1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="/article/005_tokyo23hoikuryo_1"> 1 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/005_tokyo23hoikuryo_2"> 2 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/005_tokyo23hoikuryo_3"> 3 <span class="sr-only">(current)</span></a></li>
					    <li><a href="/article/005_tokyo23hoikuryo_4"> 4 <span class="sr-only">(current)</span></a></li>
					    <li>
					      <a href="/article/005_tokyo23hoikuryo_4" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>

					<p>
						<ul class="nav"><p>【INDEX】</p>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_1#Vol5-1"><span class="glyphicon glyphicon-ok"></span>認可保育園の保育料、我が家にお得なのはどこの区？</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_2#Vol5-2"><span class="glyphicon glyphicon-ok"></span>第二子・第三子の保育料の割引について</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_3#Vol5-3"><span class="glyphicon glyphicon-ok"></span>「認証保育所の割引はどうなっている？</a></li>
							<li role="presentation" ><a href="/article/005_tokyo23hoikuryo_3#Vol5-4"><span class="glyphicon glyphicon-ok"></span>おわりに</a></li>
						</ul>
					</p>

				<div class="col-lg-12 sns">
					<%= render 'layouts/sns' %>
				</div>

				
			</div>
		</div>


		<div class="col-md-4">
			<%= render 'layouts/side_nav' %>
		</div>


	</div>
</div> 


