	<% content_for :meta_contents do %>
		<meta name="keywords" content="社会保障ドットコム,社会保障.com,子ども子育て支援新制度,待機児童,子ども園,保育園,幼稚園,入園,事故報告,補助金,認可保育園">
		<meta name="description" content="社会保障ドットコムでは、子育て支援等の記事を公開しています。">
		<meta property="og:title" content="社会保障ドットコム|社会保障ドットコム|Vol.1 子ども・子育て支援「新」制度の問題">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_1l.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_2s.png">
		<meta property="og:image" content="http://www.syakaihosyou.com/assets/ogi_syakaihosyou_3m.png">
		<meta property="og:url" content="http://www.syakaihosyou.com/article">
		<meta property="og:description" content="社会保障ドットコムでは、子育て支援等の記事を公開しています。">
	<% end %>

	<% content_for :title do %>
		<title>社会保障ドットコム|Vol.1 子ども・子育て支援「新」制度の問題</title>
	<% end %>

	<%= render 'layouts/header_nav' %>


<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>




<% @articles.each do |article| %>

<div class="container">
	<div class="row">

		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			
			<div class="col-lg-12">
		
				<div class="row">
				
					<li class="article-list col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="/article/<%= article['url'] %>">
								<div class="row">	
									<div class="cut1 col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<%= image_tag(article['image'], :class => "img-responsive") %>
									</div> 

									<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
												<h2><span class="vol"><%= article['vol'] %></span><%= article['title'] %><span class="search"></span></h2>
												<p class="description"><%= article['description'] %></p>
												<time><%= article['time'] %></time>
									</div> 
								</div> 
					</a>
					</li>
				
				</div>

			</div>

		
		</div> 

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<%= render 'layouts/side_nav' %>
		</div>

	</div> 
</div> 



<% end %>

