<div class="bread">

    <div class="container">

      <div class="row">
 
        <div class="col-md-12">

            <ol class="breadcrumb">
              <li><a href="/">社会保障ドットコム</a></li>
              <li class="active"><a href="/article/">特集</a></li>
            </ol>

        </div>

      </div>

    </div>

</div>




<% @articles.each do |article| %>

<div class="container">
	<div class="row">

		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			
			<div class="col-lg-12">
		
				<div class="row">
				
					<li class="article-list col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="/article/<%= article['url'] %>">
								<div class="row">	
									<div class="cut1 col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<%= image_tag("a001_4179217.jpg", :class => "img-responsive") %>
									</div> 

									<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
												<h2><span class="vol"><%= article['vol'] %></span><%= article['title'] %><span class="search"></span></h2>
												<p class="description"><%= article['description'] %></p>
												<time><%= article['time'] %></time>
									</div> 
								</div> 
					</a>
					</li>
				
				</div>

			</div>

		
		</div> 

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<%= render 'layouts/sidenav' %>
		</div>

	</div> 
</div> 



<% end %>

