<%= render 'layouts/header_article'%>
<div class="articletitle">
	<div class="container">

		<div class="row">
			<div class="article">

				<div class="col-md-3">
					<%= image_tag("a001_6977890.jpg", :class => "img-responsive") %>
				</div> 

				<div class="col-md-9">
					<h2><span class="title">Vol.1</span>子ども・子育て支援「新」制度の混乱<span class="search"></span></h2>
					<p>2015年4月より開始される「子ども・子育て支援新制度」。待機児童問題、少子化・核家族化の進行など子育てに関わる課題を解決するための制度ですが、導入が近づくにつれ、そこにはさまざまな落とし穴があることが分かってきました。</p>
				</div> 

			</div> 
		</div> 

	</div> 
</div> 

<div class="container">

	<div class="row">
		<div class="col-md-8">

			<div class="article">

				<div class="">
					<h3>子ども・子育て支援新制度とは？</h3>
					<p>
					「社会保障と税の一体改革」の一つとして2015年4月よりスタートする本制度。そうした背景の通り、財源には消費税が10%になった際の増収分から、 毎年7,000億円程度が充てられます。制度の目的はその名の示す通り「子どもと子育てに関わる課題を解決する」こと。具体的には、認定こども園の増設、保育料の変更、保育必要度による区分の新設、小規模保育所の認可など多岐に渡る取組みが行われます。
					</p>
					<p>
					「待機児童の解消」や「少子化による幼稚園の経営悪化」などにスポットが当てられた本制度は、0〜5歳児、中でも特に、今年入所や入園を控えた子供のいる家庭に大きく影響してきます。
					しかしそうした保育現場では、制度の概要についてよく分からないとの声も多く、さらに、導入直前となって新たに浮上した制度上の問題も明らかになるなど混乱が続いているようです。
					</p>
					<p>
					それでは実際に、どのような混乱が起こっているのか詳しく検証していきましょう。
					</p>
					<%= image_tag("a001_7232413.jpg",:class => "img-responsive")  %>
				</div> 


				<div class="">
					<h3>認定こども園―なる？ならない？</h3>
					<p>
					新制度の目玉の一つである「認定こども園の普及拡大」。認定こども園とは幼稚園と保育所が併設された施設のことで、入園後に保護者の就労状況が変わっても柔軟に対応できる、保育所の子供も幼稚園児と同じ教育を受けられるなどのメリットがあります。
					</p>

					<p>
					これまで国は、保育所に入れない待機児童の解消や、年々園児が減っていく幼稚園の再生を促すため、幼稚園がこども園へ移行することを推奨してきましたが、なかなかその数は思うように増えませんでした。
					</p>
					<p>
					なぜなら現行の制度では、こども園は幼稚園部分と保育所部分によって管轄官庁が分けられており、認定されるためには双方に手続をせねばならず、申請が複雑で分かりにくいものとなっていたからです。そこで新制度では管理を国がまとめて行うことで、こども園への移行をしやすくしました。
					</p>
					<p>
					しかしここに意外な落とし穴があったのです。手続が簡素化されたところまでは良かったのですが、実は手続の一本化とともに、これまで幼稚園部分・保育所部分それぞれに対し支給されていた補助金も一元化してしまい、結果、多くの園でもらえる補助金の額が大幅ダウンしてしまったのです。その減収額は、200人以上の規模の幼稚園ともなれば数千万円にものぼるほど。
					</p>
					<p>
					こうした現状を受け、2014年12月「全国認定こども園協会」により実施・公開されたアンケートでは、回答した234園のうち、およそ2割弱の40園が「来年度に認定を返上する」と回答しました。これに加え、こども園への移行を決めていた園が、試算の結果採算が合わないとして移行を取りやめたり、存続を決めたこども園では、不足分の補助金を補うために利用者に負担が強いられることになってしまったり……など、本来の目的とは全く逆の作用に働いてしまっているのです。
					</p>
				</div>

				<div class="">
					<h3>認定証＝入園許可証？</h3>
					<p>
					新制度で運営される園に入るには、国が発行する「認定証」が必要になります。
					認定をうけると、保育を受ける子供の年齢や保護者の就労状況によって、必要と考えられる保育時間のレベルが区分けされます。この区分けによって、保育必要レベルの高い人から順に入ることのできる保育施設が厳格に振り分けられ、待機児童を減らしていくという仕組みです。
					</p>
					<%= image_tag("nyuusyo-step1.png",:class => "img-responsive")  %>
					<%= image_tag("nyuusyo-step2.png",:class => "img-responsive")  %>
					<p>
					ただこの認定証、気をつけてほしいのは「入園許可証ではない」ということ。
					幼稚園の場合、園に直接利用申込をし、内定してから一括で認定証を申請しますが、保育所を利用する場合は要注意です。その場合、まず市町村から認定証を入手し、それから入所を希望する保育所に申込をする、という手順が必要になります。
					</p>
					<p>
					つまり、認定証というのは、あくまでも国に認可された保育施設に入るための最低限必要な証明書のようなものであって、これを持っているからといってすなわち入所できるというわけではないのです。
					</p>
					<p>
					認定証は、認可保育園、認定こども園はもちろん、今は「認可外」にあたる保育園や幼稚園でも、今後新制度の下で運営される予定がある場合は必要になります。なお、今後も認可外として運営していく施設は、これまで通り園との直接契約となります。よって認定証の必要はなく、先着順や面接、抽選など園が決めた方法で選考されます。
					</p>
				</div>

				<div class="">
					<h3>高収入家庭への打撃</h3>
					<p>
					保育料の変更にあたり大きな影響を受けそうなのが、幼稚園に通う3〜5歳の子どものいる家庭。中でも特に高収入の家庭では負担が大幅に増えることが予想されます。
					</p>
					<p>
					現行制度の幼稚園では、保護者は所得に関係なく園が定めた一律の保育料を支払い、その後に就園奨励金などでキャッシュバックされていましたが、新制度導入後は、国が示した基準額をもとに、子供の年齢や保護者の就労時間・所得によって料金が決定されます。
					</p>
					<p>
					多くの自治体が利用者負担の軽減措置を取っており、新制度へ移行後も実際の負担額は国の基準額より少なくなると見られていますが、これまで公立幼稚園の場合、月額が数千円〜2万円程度であったところ、「住民税の所得割額」<span class="small">（会社勤めで給与から住民税が天引きされている場合、6月に配布される「市町村民税特別徴収税額通知書」に額が記載されています）</span>が77,100円を超えると保育料の月額上限は一気に2万円に達するなど、急激な負担増の可能性があります。
					</p>
					<p>
					一方、保育所の料金設定は、標準時間（最長11時間）保育は現行と同額にし、新たに短時間（最長８時間）保育の枠組みを設置し、こちらは標準時間よりも若干安めの値段設定がされています。
					認定こども園の場合、幼児教育だけを受ければ幼稚園と同額となり、保育も受ければ保育所と同額となっています。
					</p>
				</div>

				<div class="">
					<h3>利用者の負担増の可能性も……</h3>
					<p>
					それぞれ保育時間の違う幼稚園、保育所が併存するこども園の増加によって考えられるデメリットに、「追加徴収」の存在があげられます。
					</p>
					<p>
					今回の制度改正では、「市町村が定める利用者負担額のほか、実費徴収（通園送迎費、給食費、文房具費、行事費等）、それ以外の上乗せ徴収（教育・保育の質の向上を図るための対価）が可能」となっており、事情説明・同意要となってはいるものの、補助金不足の園ではこうした追加徴収が今後増えてくる可能性は否めません。
					</p>
					<p>
					たとえば、延長保育の料金。
					通常、幼稚園では9時から14時までなどの短時間保育を行っていますが、保育所の機能を併せ持つ認定こども園では、7時から16時までなどの長時間保育に加え、延長保育が行われるのがスタンダードとなります。
					</p>
					<p>
					必然的に、幼稚園からこども園に移行した園では、これまで短時間でやりくりしていたシフトの見直しや職員の増員が迫られます。こうした変化に対応するため、延長保育にかかる費用がこれまでよりも上乗せされることになるのは想像に難くありません。
					</p>
					<p>
					また、給食費などの実費負担や、各園で実施する質の高い教育・保育についての上乗せ利用料などが発表された園もあり、サービスの格差に悩む保護者の声が各所で上がっています。国は幼児教育の段階的な無償化を目指していますが、財源の不足などで道のりはなかなか険しいようです。
					</p>
				</div>

				<div class="">
					<h3>認可保育所間での補償格差</h3>
					<p>
					新制度では、「地域型保育」が順次、認可保育所となります。
					</p>
					<p>
					地域型保育とは
						<ul>
							<li>家庭的保育（「保育ママ」による定員5人の保育）</li>
							<li>小規模保育（定員6〜19人、家庭的保育に近い）</li>
							<li>事業所内保育（会社の事業所内の保育施設で、従業員の子供と地域の子供に保育を提供）</li>
							<li>居宅訪問型保育（障害・疾患などで個別の対応が必要な場合や施設のない地域で保育を行う場合、自宅に訪問して行われる）
							これらの、無認可とされていた0〜2歳児を預かる少人数の保育施設のこと。</li>
						</ul>
					</p>
					<p>
					こうした地域型保育に補助金を出して運営の後押しをすることで、大規模施設を新設する場所のない都市部や、子どもが減少する地方での待機児童の受け皿を増やすことを狙いとしています。しかしここにも見逃せないポイントが。
					</p>
					<p>
					通常、認可保育所では、学校や幼稚園と同様、「災害共済給付制度」という公的保険に子どもを加入させることになっていますが、今回の新制度開始にあたり関連法（日本スポーツ振興センター法）の改正が間に合わず、子どもの負傷・死亡事故が起きても十分な補償が受けられない状態となっています。現在、これに代わる救済策はありません。
					</p>
					<p>
					どうして改正が遅れているのか。災害共済給付制度を管轄する文部科学省と、保育所を管轄する厚生労働省はこのように説明しています「事故が多ければ掛け金が上がる。事故率を見なければならない」
					</p>
					<p>
					厚労省の公開した資料によると、2014年の保育施設での事故件数は、
						<ul>
							<li>認可保育所（施設数24,425か所 利用児童数2,266,813人）
							負傷…150名　死亡…5名</li>
							<li>認可外保育施設（施設数7,834か所 利用児童数200,721人）
							負傷…10名　死亡…12名</li>
						</ul>
					</p>
					<p>
					となり、負傷件数は認可保育所で10万人当たり6.6人、認可外が同5人。
					一方、死亡件数は認可保育所が同0.2人、認可外は同6人。この調査結果より同省は「負傷事故は大差ないが、死亡事故リスクは認可外が30倍ある」とし、４月以降の状況も見極めて判断するとしています。
					</p>
				</div>

				<div class="">
					<h3>おわりに</h3>
					<p>
					ただでさえ情報の少ない保育活動中の大きな制度の変化、そこにさらに制度上の問題も加わり、開始早々混沌とする新制度。<br>
					国や自治体には、本来の目的である「子ども・子育て支援」が名実共に支援の後押しとなるよう頑張っていただきたいところですが、利用者側でも混乱を回避し、今ある制度をあまねく活用するために、賢く情報を収集していきましょう。
					</p>
				</div>

			</div>

		</div>

		<div class="col-md-4">
			<%= render 'layouts/sidenav' %>
		</div>

	</div>

</div> 

