<div class="sidenav">
	<h2><span class="glyphicon-s icon-scene"></span><span class="city">社会保障ドットコム内</span>で<span class="search">検索</span></h2>
	<script>
	  (function() {
	    var cx = '002234983006078243760:u_zcxc1hamc';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	        '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=180923078632590&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<div class="sidenav">

	<div class="fb-like-box" data-href="https://www.facebook.com/syakaihosyoucom" data-width="350px" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="false"></div>

</div>

<div class="sidenav">

	<h2><span class="glyphicon-s icon-scene"></span><span class="city">シーン</span>で<span class="search">みる社会保障の種類</span></h2>

	<ul class="list-unstyled">
	<div class="row s">
				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=病気・けが"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">病気・けが</h3>
								<p class="desc">医療 | 障がい&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '001.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=出産・育児" class="thumbnail">
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">出産・育児</h3>
								<p class="desc">妊娠 | 児童 | 教育 | ひとり親&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '002.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=住まい"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">住まい</h3>
								<p class="desc">耐震 | 助成&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '003.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=仕事・就労"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">仕事・就労 </h3>
								<p class="desc">労働災害 | 職業病 | 失業 | 再就職 | 雇用&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '004.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=老後"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">老後</h3>
								<p class="desc">高齢者 | 介護 | 医療&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '005.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=障がい者福祉"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">障がい者福祉</h3>
								<p class="desc">身体障害者 | 知的障害者 | 精神障害者&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '010.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=介護"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">介護</h3>
								<p class="desc">ヘルパー派遣 | 保険医療 | 生活支援&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '011.png' %>
							</div>
						</div>
					</a>
				</li>


				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=生活・人権"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">生活・人権 </h3>
								<p class="desc">支援 | 高齢者&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '007.png' %>
							</div>
						</div>
					</a>
				</li>
				

				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=弔意"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">弔意</h3>
								<p class="desc">死亡| 遺族&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '006.png' %>
							</div>
						</div>
					</a>
				</li>



				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=施設"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">施設</h3>
								<p class="desc">貸し出し | 高齢者 | 介護 | 医療&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '008.png' %>
							</div>
						</div>
					</a>
				</li>

				<li class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
					<a href="search_by_scene?selected_scene=事業者"  class="thumbnail" >
						<div class="row">
							<div class="gridpadding col-lg-9 col-md-7 col-sm-10 col-xs-9 col-lg-push-3 col-md-push-5 col-sm-push-2 col-xs-push-3">
								<h3 class="title">事業者</h3>
								<p class="desc">資金貸付 | 雇用助成金 | 支援事業&nbsp;…</p>
							</div>
							<div class="col-lg-3 col-md-5 col-sm-2 col-xs-3 col-lg-pull-9 col-md-pull-7 col-sm-pull-10 col-xs-pull-9">
								<%= image_tag '012.png' %>
							</div>
						</div>
					</a>
				</li>

</div>
	</ul>

</div>

